{% extends 'baselogin.html' %} {% block title %}User Login{% endblock title %}
{% block form %}
<h3>Add Vehicle</h3>
<form
  action="/addreservation"
  method="post"
  class="form-search align-items-stretch mb-3"
  data-aos="fade-up"
  data-aos-delay="200"
  style="width: 60%; margin: 0 auto; padding-bottom: 20px"
>
  {% include "message.html" %}
  <div class="col-lg-8" style="margin-bottom: 20px">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter the Reservation_id"
        name="r_id"
        required
      />
    </div>
  </div>
  <div class="col-lg-8" style="margin-bottom: 20px">
    <div class="form-group">
      <label for="starttime">Enter the Start-Time:</label>
      <input
        type="time"
        class="form-control"
        placeholder="Enter the Start-Time"
        name="starttime"
        required
      />
    </div>
  </div>
  <div class="col-lg-8" style="margin-bottom: 20px">
    <div class="form-group">
      <label for="endtime">Enter the End-Time:</label>
      <input
        type="time"
        class="form-control"
        placeholder="Enter the End-Time"
        name="endtime"
        required
      />
    </div>
  </div>
  <div class="col-lg-8" style="margin-bottom: 20px">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter the Regno"
        name="regno"
        required
      />
    </div>
  </div>
  <div class="col-lg-8" style="margin-bottom: 20px">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter the CS_id"
        name="CS_id"
        required
      />
    </div>
  </div>
  <div class="col-lg-8">
    <button type="submit" class="btn btn-primary btn-sm float-left">
      Submit
    </button>
  </div>
</form>
{% endblock form %}
