<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Update Maintenance</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='assets/img/favicon.png') }}"
      rel="icon"
    />
    <link
      href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}"
      rel="apple-touch-icon"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- Vendor CSS Files -->
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/fontawesome-free/css/all.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}"
      rel="stylesheet"
    />
    <!-- Template Main CSS File -->
    <link
      href="{{ url_for('static', filename='assets/css/main.css') }}"
      rel="stylesheet"
    />
    <style>
      .hero {
        background-image: url(static/assets/img/hero-bg.png);
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
      }
    </style>
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="/dashboard" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="static/assets/img/logo.png" alt=""> -->
          <h1>E-Drive</h1>
        </a>

        {% if current_user.is_authenticated %}
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/" class="active">Home</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Vehicle</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
                </li>
                <li><a href="/addveh">Add Vehicle</a></li>
                <li><a href="/viewvehicles">View Vehicle</a></li>  
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"
                ><span>Reservation</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
                </li>
                <li><a href="/addreservation">Add Reservation</a></li>
                <li><a href="/viewreservation">View Reservation</a></li>  
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"
                ><span>Feedback</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
                </li>
                <li><a href="/addfeedback">Give Feedback</a></li>
                <li><a href="/viewfeedback">View Feedback</a></li>  
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"
                ><span>Welcome {{current_user.User_name}}</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
                </li>
                <li><a href="/logout">Logout</a></li> 
              </ul>
            </li>

            <li><a href="contact.html">Contact</a></li>
            <li>
              <a class="get-a-quote" href="get-a-quote.html">Get a Quote</a>
            </li>
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
{% else %}
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Login</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
                </li>
                <li><a href="/login">User Login</a></li>
                <li><a href="/admin">Admin Login</a></li>  
              </ul>
            </li>

            <li><a href="contact.html">Contact</a></li>
            <li>
              <a class="get-a-quote" href="get-a-quote.html">Get a Quote</a>
            </li>
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
{% endif %}
    <!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <h3>Update Charging Station</h3>
        <form
          action=""
          method="post"
          class="form-search align-items-stretch mb-3"
          data-aos="fade-up"
          data-aos-delay="200"
          style="width: 60%; margin: 0 auto; padding-bottom: 20px"
        >
          {% include "message.html" %}
          <div class="col-lg-8" style="margin-bottom: 20px">
            <div class="form-group">
              <label for="starttime">Start-Time</label>
              <input
                type="time"
                class="form-control"
                id="starttime"
                name="starttime"
                value="{{ reservation.starttime }}"
                required
              />
            </div>
          </div>
          <div class="col-lg-8" style="margin-bottom: 20px">
            <div class="form-group">
              <label for="endtime">End-Time</label>
              <input
                type="time"
                class="form-control"
                id="endtime"
                name="endtime"
                value="{{ reservation.endtime }}"
                required
              />
            </div>
          </div>

          <div class="col-lg-8" style="margin-bottom: 20px">
            <div class="form-group">
              <label for="regno">Regno</label>
              <input
                type="text"
                class="form-control"
                id="regno"
                name="regno"
                value="{{ reservation.regno }}"
                required
              />
            </div>
          </div>
          <div class="col-lg-8" style="margin-bottom: 20px">
            <div class="form-group">
              <label for="CS_id">CS ID</label>
              <input
                type="text"
                class="form-control"
                id="CS_id"
                name="CS_id"
                value="{{ reservation.CS_id }}"
                required
              />
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </section>
    <!-- End Hero Section -->
    <main id="main"></main>
    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
    >
      <i class="bi bi-arrow-up-short"></i>
    </a>
    <div id="preloader"></div>
    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  </body>
</html>
