{% extends 'baselogin.html' %} {% block title %} View Reservation {% endblock
title %} {% block dashboard %} View Reservation {% endblock dashboard %}{% block
body %}
<h3>View Reservation</h3>

{% include "message.html" %}
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>RESERVATION ID</th>
            <th>START-TIME</th>
            <th>END-TIME</th>
            <th>REGNO</th>
            <th>CS ID</th>
          </tr>
        </thead>
        <tbody>
          {% for station in reserv %}
          <tr>
            <td>{{ station.r_id }}</td>
            <td>{{ station.starttime }}</td>
            <td>{{ station.endtime }}</td>
            <td>{{ station.regno }}</td>
            <td>{{ station.CS_id }}</td>
            <td>
              <a
                href="{{ url_for('updatereservation', id=station.r_id) }}"
                class="btn btn-primary"
                >Update</a
              >
              <form
                action="{{ url_for('deletereservation', id=station.r_id) }}"
                method="post"
                style="display: inline"
              >
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock body %}
